@CHARSET "UTF-8";
.main {
	margin-top: 30px;
	width: 924px;
	height: 400px;
	width: 924px;
}

.hide {
	width: 200px;
	height: 20px;
	margin-bottom: 11px;
}

.comment {
	width: 500px;
	/* 	border: 0.5px solid #88B8FF; */
	height: 200px;
	float: left;
	margin: 0 auto;
	margin-left: 23px;
	display: none;
	margin-top: -1px;
}

.review_area {
	border: 1px solid #88B8FF;
	width: 550px;
	height: 84px;
	margin-top: 32px;
	background-color: #F2F2F5;
	display: none;
}

.login_comm {
	height: 10px;
	-webkit-border-radius: 4px;
	border: 1px solid #88B8FF;
	margin-left: 10px;
}

a {
	text-decoration: none;
	font-size: 10;
	color: #000000;
}

.content {
	border: 1px solid #88B8FF;
	margin-top: 2px;
	width: 700px;
	height: 600px;
}

.contentList {
	/* 	background-color: #FFFFFF; */
	margin-top: 4px;
	width: 700px;
	height: 100px;
	float: left;
	margin-top: 1px;
}

.showcontent {
	width: 550px;
	height: 77px;
	/* 	text-align: -webkit-center; */
	/*  	border: 1px solid #88B8FF;  */
	float: left;
	margin-left: 79px;
}

.showUserId {
	url: . ./img/headPhoto.jpg;
	width: 200px;
	height: 22px;
	margin-left: -14px;
	margin-top: 4px;
	text-align: -webkit-center;
}

.showUserComment {
	width: 550px;
	height: 39px;
	border: 1px solid #88B8FF;
}

.commtentOperater {
	width: 550px;
	height: 23px;
	text-align: -webkit-center;
	margin-top: 5px;
	float: left;
	/* 	border: 1px solid #88B8FF; */
}

.commtentbtn2 {
	width: 56px;
	height: 23px;
	text-align: -webkit-center;
	-webkit-border-radius: 1px;
	curosr: pointer;
}

.reviewUserID {
	float: left;
	line-height: 25px;
	text-align: center;
	margin-top: 4px;
	margin-left: -8px;
	color: #EC7393;
}

.reviewUserID2 {
	float: left;
	line-height: 25px;
	text-align: center;
	margin-top: 4px;
	color: #EC7393;
}

.btnReview {
	width: 360px;
	height: 25px;
	margin-top: 1px;
	margin-left: 2px;
	outline: none;
}

.btnReview2 {
	width: 305px;
	height: 25px;
	margin-top: 1px;
	margin-left: 2px;
	outline: none;
}

.commentArea {
	width: 500px;
	height: 150px;
	margin: auto;
	/* 	background-color: #EAEAEC; */
	margin-top: -2px;
	float: left;
}

.R_area1_1 {
	width: 550px;
	height: 40px;
	margin-top: 10px;
	margin-left: 25px;
	text-align: -webkit-center;
	float: left;
}

.R_area1_2 {
	width: 450px;
	height: 40px;
	margin-top: 10px;
	float: left;
}

.R_area1 {
	width: 550px;
	height: 82px;
	margin-top: 2px;
}

.ul_div {
	margin-top: 3px;
	width: 498px;
	height: 30px;
	background-color: #EAEAEC;
	-webkit-border-radius: 3px;
}

.li_div {
	width: 400px;
	height: 60px;
	margin-top: 2px;
}

input:focus {
	outline: none;
}

input[type="button"] {
	background-color: #FFC09F;
	cursor: pointer;
}

ul li {
	list-style: none;
	margin-top: 1px;
}

.img_li {
	width: 36px;
	height: 40px;
	float: left;
	background-color: #EAEAEC;
}

.loadMore {
	width: 500px;
	height: 30px;
	line-height: 28px;
	text-align: -webkit-center;
	float: left;
	padding: 2px 0px;
	/* 	margin: auto; */
}

.moreReview {
	width: 500px;
	height: 32px;
	border: 2px solid #EAEAEC;
	margin-top: 16px;
	float: left;
}

.re_confirm {
	width: 400px;
	height: 30px;
	float: left;
	background-color: #EAEAEC;
}